<template>
    <div class="hello">
        <div>Enter how many values you want in array (Max 100):</div>
        <input v-model="generatedArrayLength">
        <div v-if:="userFailed.failed"> {{userFailed.msg}}</div>
        <button @click="generateSet()">Generate Array</button>
        <div v-if="generatedArrayAsString.length">
            <p>Generated Array: {{generatedArrayAsString}}</p>
            <p>Enter value to search in array: </p><input v-model="valueToSearch">
            <button @click="interpolationSearch">Search</button>
            <div v-for="(array, step) in newArrays" :key="array.message">
                <div>New array after {{step+1}} step: {{ array }}</div>
                <div><br></div>
            </div>
            <div>{{searchResult}}</div>
            <div>Amount of steps, that were taken before reaching needed value: {{amountOfStepsToReach}}</div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Search',
        data() {
            return {
                generatedArrayLength: "",
                generatedArray: new Set(),
                sortedArray: [],
                valueToSearch: "",
                searchResult: "",
                userFailed: {
                    failed: false,
                    msg: ""
                },
                newArrays: [],
                amountOfStepsToReach: 0,
            }
        },
        computed: {
            generatedArrayAsString() {
                return [...this.sortedArray]
            },
        },
        methods: {
            //Array should have only unique values, because in other way, only 1st value would be found and program will be closed.
            generateSet() {
                //regenerate new set
                this.generatedArray = new Set()
                this.newArrays = []
                //check if user entered amount of values that should be generated in array and make sure he wouldn't fell in infinite loop
                if (this.generatedArrayLength && this.generatedArrayLength <= 100) {
                    this.userFailed.failed = false
                    //loop will be going until won't fill user's request
                    while (this.generatedArray.size < this.generatedArrayLength) {
                        this.generatedArray.add(Math.floor(Math.random() * 99999 + 1))
                    }
                    //sort array to make it possible interpolation search work
                    this.sortedArray = this.sortGeneratedArray([...this.generatedArray])
                } else {
                    //display user error
                    this.userFailed.failed = true
                    this.userFailed.msg = "You didn't enter any value or wanted to enter infinite loop"
                }
            },
            sortGeneratedArray(array) {
                //sort by default JS function
                return array.sort(function (a, b) {
                    return a - b;
                })
            },


            arraySearch(arr, val) {
                for (var i = 0; i < arr.length; i++)
                    if (arr[i] === val)
                        return i;
                return false;
            },


            interpolationSearch() {
                const array = this.sortedArray,
                    arrayLength = this.sortedArray.length,
                    valueToSearch = parseInt(this.valueToSearch)
                let leftEdge = 0,
                    rightEdge = arrayLength - 1
                this.amountOfStepsToReach = 0

                //search until we find needed value or until there's no needed value
                while (leftEdge <= rightEdge && valueToSearch >= array[leftEdge] && valueToSearch <= array[rightEdge]) {
                    const hmm = this.newArrays[this.amountOfStepsToReach - 1]
                    this.amountOfStepsToReach++
                    //interpolation formula
                    // The idea of formula is to return higher value of guessed position
                    // when element to be searched is closer to right edge. And
                    // smaller value when closer to left edge
                    const guessedPosition = leftEdge + Math.floor(((valueToSearch - array[leftEdge]) * (rightEdge - leftEdge)) / (array[rightEdge] - array[leftEdge]))

                    //Show user where search checked
                    this.generatedArrayAsString[guessedPosition] += ` <- Guessed value at step ${this.amountOfStepsToReach}`
                    //return position if value in guessed position
                    if (array[guessedPosition] === valueToSearch) {
                        this.newArrays.push([valueToSearch])
                        return this.searchResult = `Your value was at ${guessedPosition} position`
                    }

                    //decide on which half should you go for the next step
                    if (array[guessedPosition] < valueToSearch) {
                        //check if did any slices before
                        if (this.newArrays.length > 0) {
                            //search array key in new searching array
                            const s = this.arraySearch(hmm, valueToSearch)
                            //slice previous array to display to user new searchable area
                            this.newArrays.push(hmm.slice(s - 1))
                        } else {
                            //slice main array first
                            this.newArrays.push(array.slice(guessedPosition))
                        }
                        leftEdge = guessedPosition + 1
                    } else {
                        if (this.newArrays.length > 0) {
                            //search array key in new searching array
                            const s = this.arraySearch(hmm, valueToSearch)
                            //slice previous array to display to user new searchable area
                            this.newArrays.push(hmm.slice(0, s + 2))
                        } else {
                            //slice main array first
                            this.newArrays.push(array.slice(0, guessedPosition + 1))
                        }
                        rightEdge = guessedPosition - 1
                    }
                }
                //return unsuccessful result if loop failed to find a value
                return this.searchResult = "No such value in array"
            },
        }
    }
</script>

